@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: '#ED1E79';
  --color-secondary: '#662D8C';
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
h6 {
  color: #8D8D8D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-manrope);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.proggy {
  font-family: var(--font-proggy);
}

.header-gradient {
  background: -webkit-linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-secondary)
  );
  background: linear-gradient(
    -45deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
