@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: '#ED1E79';
  --color-secondary: '#662D8C';
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h6 {
  color: #8D8D8D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-manrope);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.proggy {
  font-family: var(--font-proggy);
}

.header-gradient {
  position: relative;
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: moveGradient 3s ease infinite;
}

.gradient-hover {
  color: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}
